@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 80%;
}

@layer utilities {
  @keyframes first {
    0% {
      transform: translate(0) rotate(0deg);
    }
    20% {
      transform: translate(10px, -50px) rotate(10deg);
    }
    40% {
      transform: translate(-30px, 20px) rotate(-20deg);
    }
    60% {
      transform: translate(50px, -10px) rotate(30deg);
    }
    80% {
      transform: translate(-20px, 40px) rotate(-10deg);
    }
    100% {
      transform: translate(0) rotate(0deg);
    }
  }
  @keyframes second {
    0% {
      transform: translate(0) rotate(0deg);
    }
    20% {
      transform: translate(-20px, 30px) rotate(-15deg);
    }
    40% {
      transform: translate(40px, -10px) rotate(25deg);
    }
    60% {
      transform: translate(-10px, -40px) rotate(-5deg);
    }
    80% {
      transform: translate(30px, 10px) rotate(15deg);
    }
    100% {
      transform: translate(0) rotate(0deg);
    }
  }
  @keyframes third {
    0% {
      transform: translate(0) rotate(0deg);
    }
    20% {
      transform: translate(5px, -15px) rotate(5deg);
    }
    40% {
      transform: translate(-10px, 10px) rotate(-10deg);
    }
    60% {
      transform: translate(15px, -5px) rotate(15deg);
    }
    80% {
      transform: translate(-5px, 20px) rotate(-5deg);
    }
    100% {
      transform: translate(0) rotate(0deg);
    }
  }
  @keyframes fourth {
    0% {
      transform: translate(0) rotate(0deg);
    }
    20% {
      transform: translate(15px, -5px) rotate(10deg);
    }
    40% {
      transform: translate(-25px, 15px) rotate(-20deg);
    }
    60% {
      transform: translate(35px, -10px) rotate(30deg);
    }
    80% {
      transform: translate(-15px, 25px) rotate(-10deg);
    }
    100% {
      transform: translate(0) rotate(0deg);
    }
  }
  @keyframes fifth {
    0% {
      transform: translate(0) rotate(0deg);
    }
    20% {
      transform: translate(-10px, 10px) rotate(-5deg);
    }
    40% {
      transform: translate(20px, -15px) rotate(10deg);
    }
    60% {
      transform: translate(-5px, -20px) rotate(-10deg);
    }
    80% {
      transform: translate(15px, 5px) rotate(5deg);
    }
    100% {
      transform: translate(0) rotate(0deg);
    }
  }
}
